{{ partial "header.html" . }}
<div class="container">
    <div class="section">
        <center>
            <p>
                By analysing markets using an intelligent, powerful algorithm,
                <br/>
                you will get signals at the right time.
            </p>
            <img src="{{ $.Site.BaseURL }}img/signal.png"/>
        </center>
    </div>
    <div class="section">
        <div class="row">
            <div class="col l6 m6 s12">
                <center>
                    <h3>
                        Pros
                    </h3>
                </center>
                <ul class="collection">
                    <li class="collection-item">
                        Supports Bittrex
                    </li>
                    <li class="collection-item">
                        Sent in real-time with no delay
                    </li>
                    <li class="collection-item">
                        Signals have valuable information with them
                    </li>
                    <li class="collection-item">
                        Completely a Free service
                    </li>
                </ul>
            </div>
            <div class="col l6 m6 s12">
                <center>
                    <h3>
                        Cons
                    </h3>
                </center>
                <ul class="collection">
                    <li class="collection-item">
                        Not all exchanges are supported
                    </li>
                    <li class="collection-item">
                        Signals may be faulty
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section">
        <center>
            <p>
                Get signals on Telegram
            </p>
            <a href="https://t.me/CryptoPolu" target="_blank">
                <img src="{{ $.Site.BaseURL }}img/telegram.png"/>
            </a>
        </center>
    </div>
    <div class="section">
        <center>
            <a class="btn btn-large green" href="how-it-works">
                <h5>
                    How It Works
                </h5>
            </a>
        </center>
    </div>
    <div class="section">
        <center>
            <h2>
                Note
            </h2>
        </center>
        <ul class="collection">
            <li class="collection-item">
                CryptoPolu is not liable for any losses because of our signals. Handle with care !
            </li>
            <li class="collection-item">
                Always check the market before you do any trades
            </li>
            <li class="collection-item">
                Share your feedback <a href="/donate/">here</a>.
            </li>
        </ul>
    </div>
</div>
{{ partial "footer.html" . }}
